/* Laptop Screen  */

@media screen and (max-width: 1024px) {

  /* Hero section  */

  .hero-container {
    line-height: 0.9;
    margin-top: 50px;
    padding: 0px 20px;
  }

  .hero-container h1 {
    font-size: 10vw;
  }

  .hero-container .developer-heading {
    margin-left: 140px;
    font-size: 10vw;
    gap: 5px;
  }

  .hero-container .hero-last-heading {
    font-size: 1rem;
    margin-top: 10px;
  }

  /* Sceond child  */
  .announcement-section {
    margin-top: 4vw;
    padding: 0px 20px;
  }

  .announcement-section h5 {
    font-size: 1rem;
    line-height: 1.3;
  }

  /* .Third child  */
  .hero-footer {
    padding: 20px 20px;
    width: 100%;
  }

  .hero-footer-link a {
    text-decoration: none;
    color: white;
  }

  .hero-footer-link {
    gap: 4px;
  }

  /* Second section  */

  .floting-section {
    padding-right: 120px;
    padding-top: 70px;
    /* height: 80vh; */
    padding-left: 50px;
  }

  .elem {
    padding: 2vw 2.8vw;
    padding-right: 0;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  /* About section  */

  .about-section {
    gap: 25px;
    padding: 0px 120px;
    padding-top: 70px;
    padding-bottom: 90px;
    /* width: 100%; */
  }

  .about-image {
    max-height: 220px;
    max-width: 220px;
    border-radius: 50%;
    overflow: hidden;
  }

  .about-section .about-image img {
    height: auto;
    max-width: 100%;
  }

  .about-section .about-section-txt {
    /* width: 500px; */
    width: 60%;
    height: auto;
  }

  .about-section-txt h5 {
    opacity: 0.7;
    margin-bottom: 10px;
  }

  .about-section-txt h3 {
    font-size: 1.4vw;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-section-txt a {
    white-space: nowrap;
    width: fit-content;
  }

  /* Fourth Section  */

  .subscribe-section {
    padding: 20px 20px;
    font-weight: bold;
    line-height: 1;
    font-size: 0.9rem;
  }

  /* Footer section  */
  footer {
    padding: 20px 20px;
  }

  .footer-left {
    column-gap: 25px;
    flex-wrap: wrap;
  }

  .footer-left h5 {
    font-size: 0.9rem;
  }

  .footer-right {
    display: flex;
    align-items: center;
    justify-content: right;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 25px;
    font-weight: bold;
  }

  .footer-right a {
    font-size: 0.9rem;
  }
}

/* Tablet Screen  */

@media screen and (max-width: 768px) {

  /* Navigation bar tablet */


   /* Navigation bar  */
  nav {
    gap: 10px;
  }

  .nav-ul {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--text-color);
    background: #a3a3a3;
    color: black;
    z-index: 10;
    max-width: 80%;
    width: 100%;
    height: 100vh;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
    gap: 10px;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
  }

  .nav-ul li {
    height: auto;
    width: 100%;
    padding: 0px;
    padding: 10px 0px;
  }

  nav .nav-ul li a {
    color: black;
    font-size: 2rem;
    text-align: left;
  }

  .nav-ul label {
    padding: 5px 0px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.353);
  }

  nav .cta-mobile {
    display: block;
  }

  #hamburger-active {
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .open-menu-btn,
  .close-menu-btn {
    display: block;
  }

  #hamburger-active:checked~.nav-ul {
    /* display: flex; */
    right: 0%;
    transition: all 0.4s ease-in-out;
  }

  .header-action-btns {
    display: none;
  }

  .cta-mobile {
    position: relative;
    padding: 8px 14px;
    font-size: 16px;
    background: white;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    font-weight: 500;
  }

  .cta-mobile:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }

  .icon-container {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    color: #22c55e;
    color: #000;
    opacity: 0;
    visibility: hidden;
  }

  .default-icon {
    opacity: 1;
    visibility: visible;
  }

  /* Hover animations */
  .cta-mobile:hover .icon {
    animation: none;
  }

  .cta-mobile:hover .wallet-icon {
    opacity: 0;
    visibility: hidden;
  }

  .cta-mobile:hover .card-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 0s;
  }

  .cta-mobile:hover .payment-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 0.5s;
  }

  .cta-mobile:hover .dollar-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 1s;
  }

  .cta-mobile:hover .check-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 1.5s;
  }

  /* Active state - show only checkmark */
  .cta-mobile:active .icon {
    animation: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .cta-mobile:active .check-icon {
    animation: checkmarkAppear 0.6s ease forwards;
    visibility: visible;
  }

  .btn-text {
    font-weight: 600;
    /* font-family:
    system-ui,
    -apple-system,
    sans-serif; */
    font-family: paraghraph-font;
    font-size: 0.9rem;
  }

  @keyframes iconRotate {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px) scale(0.5);
    }

    5% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }

    15% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }

    20% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px) scale(0.5);
    }

    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px) scale(0.5);
    }
  }

  @keyframes checkmarkAppear {
    0% {
      opacity: 0;
      transform: scale(0.5) rotate(-45deg);
    }

    50% {
      opacity: 0.5;
      transform: scale(1.2) rotate(0deg);
    }

    100% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }

  nav .close-menu-btn i {
    color: black;
    font-size: 24px;
  }

  .nav-ul .mobile-menu-footer {
    display: block;
    margin-top: auto;
    width: 100%;
    padding: 15px;
    padding-bottom: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.353);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .spark-logo {
    height: 25px;
  }




  /* Hero section  */

  .hero-container {
    line-height: 0.9;
    margin-top: 35px;
    padding: 0px 20px;
  }

  .hero-container h1 {
    font-size: 9.5vw;
  }

  .hero-container .developer-heading {
    margin-left: 107px;
    font-size: 9.5vw;
    gap: 4px;
  }

  .hero-container .hero-last-heading {
    font-size: 0.8rem;
    margin-top: 8px;
  }

  /* Sceond child  */
  .announcement-section {
    margin-top: 7vw;
    padding: 0px 20px;
  }

  .announcement-section h5 {
    font-size: 0.75rem;
    line-height: 1.3;
  }

  /* .Third child  */
  .hero-footer {
    padding: 15px 15px;
    width: 100%;
  }

  .hero-footer-link a {
    text-decoration: none;
    color: white;
    font-size: 0.85rem;
  }

  .hero-footer-link {
    gap: 4px;
  }

  .footer-circles {
    background: #ccc;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-icons .footer-circles svg {
    transform: rotate(120deg);
  }

  /* Second section  */

  .floting-section {
    padding-right: 80px;
    padding-top: 70px;
    padding-left: 35px;
  }

  .elem {
    padding: 2vw 2.7vw;
    padding-right: 10px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  .elem h1 {
    font-size: 5.3vw;
    opacity: 0.6;
  }

  .elem p {
    font-size: 0.75rem;
  }

  /* Primary button  */
  .primary-btn {
    padding: 6px 20px;
    border-radius: 20px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
    white-space: nowrap;
    margin-top: 20px;
    font-weight: 500;
    font-size: 0.85rem;
  }

  .primary-btn:hover {
    background: white;
    color: black;
  }

  /* About section  */

  .about-section {
    gap: 25px;
    padding: 0px 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
  }

  .about-image {
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .about-section .about-image img {
    height: auto;
    max-width: 100%;
  }

  .about-section .about-section-txt {
    /* width: 500px; */
    width: 70%;
    height: auto;
  }

  .about-section-txt h5 {
    opacity: 0.7;
    margin-bottom: 5px;
    font-size: 0.8rem;
  }

  .about-section-txt h3 {
    font-size: 1.5vw;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
  }

  .about-section-txt a {
    white-space: nowrap;
    width: fit-content;
  }

  /* Fourth Section  */

  .subscribe-section {
    padding: 15px 15px;
    font-weight: 450;
    line-height: 0;
    font-size: 0.7rem;
  }

  /* Footer section  */
  footer {
    padding: 15px 15px;
  }

  .footer-left {
    column-gap: 25px;
    flex-wrap: wrap;
  }

  .footer-left h5 {
    font-size: 0.75rem;
    font-weight: 450;
  }

  .footer-right {
    display: flex;
    align-items: center;
    justify-content: right;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 25px;
    font-weight: bold;
  }

  .footer-right a {
    font-size: 0.7rem;
  }
}

/* Mobile Screen */

@media screen and (max-width: 426px) {
  /* Navigation bar mobile*/


   /* Navigation bar  */
  nav {
    gap: 10px;
  }

  .nav-ul {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    background: var(--text-color);
    background: #a3a3a3;
    color: black;
    z-index: 10;
    max-width: 80%;
    width: 100%;
    height: 100vh;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.3);
    gap: 10px;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
  }

  .nav-ul li {
    height: auto;
    width: 100%;
    padding: 0px;
    padding: 10px 0px;
  }

  nav .nav-ul li a {
    color: black;
    font-size: 2rem;
    text-align: left;
  }

  .nav-ul label {
    padding: 5px 0px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.353);
  }

  nav .cta-mobile {
    display: block;
  }

  #hamburger-active {
    display: block;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .open-menu-btn,
  .close-menu-btn {
    display: block;
  }

  #hamburger-active:checked~.nav-ul {
    /* display: flex; */
    right: 0%;
    transition: all 0.4s ease-in-out;
  }

  .header-action-btns {
    display: none;
  }

  .cta-mobile {
    position: relative;
    padding: 8px 14px;
    font-size: 16px;
    background: white;
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    font-weight: 500;
  }

  .cta-mobile:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }

  .icon-container {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    color: #22c55e;
    color: #000;
    opacity: 0;
    visibility: hidden;
  }

  .default-icon {
    opacity: 1;
    visibility: visible;
  }

  /* Hover animations */
  .cta-mobile:hover .icon {
    animation: none;
  }

  .cta-mobile:hover .wallet-icon {
    opacity: 0;
    visibility: hidden;
  }

  .cta-mobile:hover .card-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 0s;
  }

  .cta-mobile:hover .payment-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 0.5s;
  }

  .cta-mobile:hover .dollar-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 1s;
  }

  .cta-mobile:hover .check-icon {
    animation: iconRotate 2.5s infinite;
    animation-delay: 1.5s;
  }

  /* Active state - show only checkmark */
  .cta-mobile:active .icon {
    animation: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .cta-mobile:active .check-icon {
    animation: checkmarkAppear 0.6s ease forwards;
    visibility: visible;
  }

  .btn-text {
    font-weight: 600;
    /* font-family:
    system-ui,
    -apple-system,
    sans-serif; */
    font-family: paraghraph-font;
    font-size: 0.9rem;
  }

  @keyframes iconRotate {
    0% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px) scale(0.5);
    }

    5% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }

    15% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }

    20% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px) scale(0.5);
    }

    100% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px) scale(0.5);
    }
  }

  @keyframes checkmarkAppear {
    0% {
      opacity: 0;
      transform: scale(0.5) rotate(-45deg);
    }

    50% {
      opacity: 0.5;
      transform: scale(1.2) rotate(0deg);
    }

    100% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }

  nav .close-menu-btn i {
    color: black;
    font-size: 24px;
  }

  .nav-ul .mobile-menu-footer {
    display: block;
    margin-top: auto;
    width: 100%;
    padding: 15px;
    padding-bottom: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.353);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .spark-logo {
    height: 25px;
  }



  /* Hero section  */

  .hero-container {
    line-height: 0.9;
    margin-top: 45px;
    padding: 0px 20px;
  }

  .hero-container h1 {
    font-size: 13vw;
  }

  .hero-container .developer-heading {
    margin-left: 72px;
    font-size: 11vw;
    gap: 2px;
  }

  .hero-container .hero-last-heading {
    font-size: 0.6rem;
    margin-top: 7px;
  }

  /* Sceond child  */
  .announcement-section {
    margin-top: 15vw;
    padding: 0px 20px;
  }

  .announcement-section h5 {
    font-size: 0.6rem;
    line-height: 1.1;
  }

  /* .Third child  */
  .hero-footer {
    padding: 10px 10px;
    width: 100%;
  }

  .hero-footer-link a {
    text-decoration: none;
    color: white;
    font-size: 0.6rem;
  }

  .hero-footer-link {
    gap: 4px;
  }

  .footer-circles {
    background: #ccc;
    background: #fff;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-icons .footer-circles svg {
    transform: rotate(120deg);
  }

  /* Second section  */

  .floting-section {
    padding-right: 65px;
    padding-top: 60px;
    padding-left: 30px;
  }

  .elem {
    padding: 2vw 2.7vw;
    padding-right: 10px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
  }

  .elem h1 {
    font-size: 5.4vw;
    opacity: 0.6;
  }

  .elem p {
    font-size: 0.6rem;
  }

  /* Primary button  */
  .primary-btn {
    padding: 5px 16px;
    border-radius: 20px;
    border: 1.6px solid white;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
    white-space: nowrap;
    margin-top: 20px;
    font-weight: 500;
    font-size: 0.65rem;
  }

  .primary-btn:hover {
    background: white;
    color: black;
  }

  /* About section  */

  .about-section {
    gap: 25px;
    padding: 0px 20px;
    padding-top: 40px;
    padding-bottom: 50px;
    flex-direction: column;
    width: 100%;
  }

  .about-image {
    max-height: 180px;
    max-width: 180px;
    border-radius: 50%;
    overflow: hidden;
  }

  .about-section .about-image img {
    height: auto;
    max-width: 100%;
  }

  .about-section .about-section-txt {
    /* width: 500px; */
    width: 80%;
    height: auto;
  }

  .about-section-txt h5 {
    opacity: 0.7;
    margin-bottom: 5px;
    font-size: 0.7rem;
  }

  .about-section-txt h3 {
    font-size: 2vw;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 300;
  }

  .about-section-txt a {
    white-space: nowrap;
    width: fit-content;
  }

  /* Fourth Section  */

  .subscribe-section {
    padding: 10px 10px;
    font-weight: 400;
    line-height: 0px;
    font-size: 0.6rem;
  }

  /* Footer section  */
  footer {
    padding: 10px 10px;
  }

  .footer-left {
    column-gap: 20px;
    flex-wrap: wrap;
  }

  .footer-left h5 {
    font-size: 0.55rem;
    font-weight: 400;
  }

  .footer-right {
    display: flex;
    align-items: center;
    justify-content: right;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    font-weight: bold;
  }

  .footer-right .desktop-footer-links {
    display: none;
  }

  .footer-right .mobile-footer-links {
    display: block;
    font-size: 0.9rem;
  }
}