@font-face {
  font-family: paraghraph-font;
  src: url(fonts/paraghraph-font.ttf);
}

@font-face {
  font-family: paraghraph-font-bold;
  src: url(fonts/paraghraph-font-bold.ttf);
}

@font-face {
  font-family: heading-font;
  src: url(fonts/headings-font.ttf);
}

@font-face {
  font-family: momo-Snas-medium;
  src: url(fonts/MomoSans-Medium.ttf);
}

@font-face {
  font-family: poppins-semiBold;
  src: url(fonts/MomoSans-SemiBold.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: logoFont;
  src: url(fonts/matanya-regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --icon-color-: #9ef01a;
  --bg-color: black;
  --text-color: white;
  --foreground-color: white;
}
.html{

}
body {
  font-family: paraghraph-font;
  background-color: var(--bg-color);
  color: var(--foreground-color)
}

.container {
  max-width: 1440px;
  margin: auto;
}


.flex {
  display: flex;
  align-items: center;
}

.cursor {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  z-index: 9999;
  position: absolute;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
}

a {
  cursor: pointer;
}

i {
  font-weight: 200;
  color: var(--icon-color-);
  font-weight: 400;
}

.main {
  width: 100%;
}

.hero-section {
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;


}

.hero-wrapper {
  flex-grow: 1;
}

/* Navigation bar Desktop */

/* <!-- ================== LOGO ================== --> */

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
  font-weight: 400;
  font-family: logoFont;
  font-size: 1.3rem;
  color: var(--text-color);
  white-space: nowrap;
}

.logo img {
  height: 35px;
}

/* <!-- ================== NAVIGATION LINKS ================== --> */
header{
  position: relative;
  z-index: 99997;
}
nav {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-ul li {
  padding: 10px 20px;
  list-style: none;
}

.nav-ul li a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
  font-family: paraghraph-font-bold;
}

#hamburger-active {
  display: none;
}

.open-menu-btn,
.close-menu-btn {
  display: none;
}

nav .cta-mobile {
  display: none;
}

nav label i {
  color: white;
  font-size: 24px;
}

/* Hero section inner styling  */

.hero-container {
  line-height: 0.88;
  width: fit-content;
  margin-top: 40px;
  padding: 0px 30px;
  
}

.hero-container h1 {
  font-size: 10vw;
  opacity: 0.6;
  font-weight: 500;
  font-family: heading-font;
  
}

.hero-container .developer-heading {
  margin-left: 160px;
  font-size: 10vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  
}

.hero-container .hero-last-heading {
  font-size: 1.1rem;
  margin-top: 10px;
  color: var(--foreground-color);
  opacity: 1;
}

/* Flash animation area  */
.flash-animation-box {
  width: fit-content;
  font-size: 10vw;
  overflow: hidden;
}

.flash-txt {
  transform: translateY(100%);
}

/* Flash animation area  */

/* Sceond child  */
.announcement-section {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 4vw;
  padding: 0px 30px;
}

.announcement-section h5 {
  font-size: 1rem;
  line-height: 1.3;
  text-align: right;
  cursor: pointer;
  font-weight: 600;
}

/* .Third child  */
.hero-footer {
  padding: 20px 30px;
  width: 100%;
  justify-content: space-between;
  font-family: heading-font
}

.hero-footer-link {
  align-items: flex-start;
  gap: 4px;
}

.hero-footer-link a {
  text-decoration: none;
  color: var(--foreground-color);
}


/* From Uiverse.io by fthisilak */
.contact-btn {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  background: white;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: bold;
  font-weight: 500;
}

.contact-btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.icon-container {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  color: #22c55e;
  color: #000;
  opacity: 0;
  visibility: hidden;
}

.default-icon {
  opacity: 1;
  visibility: visible;
}

/* Hover animations */
.contact-btn:hover .icon {
  animation: none;
}

.contact-btn:hover .wallet-icon {
  opacity: 0;
  visibility: hidden;
}

.contact-btn:hover .card-icon {
  animation: iconRotate 2.5s infinite;
  animation-delay: 0s;
}

.contact-btn:hover .payment-icon {
  animation: iconRotate 2.5s infinite;
  animation-delay: 0.5s;
}

.contact-btn:hover .dollar-icon {
  animation: iconRotate 2.5s infinite;
  animation-delay: 1s;
}

.contact-btn:hover .check-icon {
  animation: iconRotate 2.5s infinite;
  animation-delay: 1.5s;
}

/* Active state - show only checkmark */
.contact-btn:active .icon {
  animation: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.contact-btn:active .check-icon {
  animation: checkmarkAppear 0.6s ease forwards;
  visibility: visible;
}

.btn-text {
  font-weight: 600;
  /* font-family:
    system-ui,
    -apple-system,
    sans-serif; */
  font-family: paraghraph-font;
  font-size: 1rem;
}

@keyframes iconRotate {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px) scale(0.5);
  }

  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
  }

  15% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
  }

  20% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px) scale(0.5);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px) scale(0.5);
  }
}

@keyframes checkmarkAppear {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.2) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.nav-ul .mobile-menu-footer {
  display: none;
}

/* anchor animation Starts */
.hover-ani {
  position: relative;
  text-decoration: none;
  color: white;
  padding-bottom: 3px;
  white-space: nowrap;
  text-align: center;
}

.hover-ani::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: white;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease;
}

.hover-ani:hover::after {
  animation: lineMove 0.8s ease forwards;
}

@keyframes lineMove {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1);
    transform-origin: left;
  }

  51% {
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

/* anchor animation Ends */

.footer-icons {
  gap: 5px;
}

.footer-circles {
  background: #ccc;
  color: var(--foreground-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons .footer-circles svg {
  transform: rotate(120deg);
}

/* Second section  */
.floting-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--foreground-color);
  padding-right: 150px;
  padding-top: 80px;
  background: var(--bg-color);
  width: 100%;
  /* height: 80vh; */
  padding-left: 50px;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width nahi de mene */
  width: 100%;
  padding: 2vw 3vw;
  padding-right: 10px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.elem:hover.elem h1 {
  transform: translate(25px);
  opacity: 0.3;
}

.elem img {
  opacity: 0;
  pointer-events: none;
  height: 130%;
  z-index: 1000;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.elem h1 {
  font-size: 6vw;
  opacity: 0.7;
  transition: all 0.5s ease;

}

.elem p {
  font-size: 1rem;
}

.elem:last-child {
  border-bottom: 1px solid #888;
}

/* Primary button  */
.primary-btn {
  padding: 8px 28px;
  border-radius: 20px;
  border: 2px solid var(--foreground-color);
  text-decoration: none;
  color: var(--foreground-color);
  transition: 0.5s ease-in-out;
  white-space: nowrap;
  margin-top: 20px;
  font-weight: 500;
}

.primary-btn:hover {
  background: var(--foreground-color);
  color: var(--bg-color);
}

/* About section  */

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0px 150px;
  padding-top: 70px;
  padding-bottom: 100px;
  /* width: 100%; */
}

.about-image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-image: url(images/About\ image.png);
  background-size: cover;
  background-position: 0px -30px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.about-section .about-image img {
  height: auto;
  max-width: 100%;
}

.about-section .about-section-txt {
  width: 60%;
  height: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.about-section-txt h5 {
  opacity: 0.7;
  margin-bottom: 10px;
  font-weight: 400;
}

.about-section-txt h3 {
  font-size: 1.2vw;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.about-section-txt a {
  white-space: nowrap;
  width: fit-content;
}

/* Fourth Section  */

.subscribe-section {
  padding: 20px 30px;
  font-weight: bold;
  line-height: 1;
  font-size: 1rem;
}

/* Footer section  */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 30px;
  flex-wrap: wrap;
}

.footer-left h5 {
  font-size: 1.05rem;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: right;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  font-weight: bold;
}

.mobile-footer-links {
  display: none;
  text-decoration: none;
}